/* generics */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img:not(#logo) {
    width: 100%;
}

span {
    text-decoration: underline;
}

/* utlis */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

a {
    color: #000;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.containersmall {
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    float: left;
}

.btn{
    text-decoration: none;
    transition: 0.5s;
}

.btnblu {
    background-color: #0061ff;
    color: #fff;
}

.btnwhite {
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}

.btnsmall {
    padding: 5px 20px;
    margin: 0 30px;
}

.btnbig {
    padding: 10px 30px;
}

.btnbigger {
    padding: 10px 55px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: calc(33% - 30px);
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

p {
    margin-bottom: 40px;
}
h1 {
    font-size: 80px;
    font-weight: 800;
    padding-top: 50px;
}

h2{
    font-size: 46px;
}

h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.text-grey {
    color: #667683;
}

.linkblu a {
    color: #0061ff;
    text-decoration: underline;
}

.linkblu {
    margin-top: 50px;
}

hr {
    border: 0.5px solid;
}

.grey {
    border-color: #dcdcde;
}

.short {
    border-color: #d0d0d3;
    width: 10%;
    margin: 40px 0;
}

/* header */

.main-menu {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    font-weight: 800;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 2px #0061ff;
    z-index: 1;
}

/* .main-menu,
.main-menu *{
    height: 100%;
    display: inline-block;
} */

#logo {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    margin-left: 30px;
    margin-right: 15px;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
}

.main-menu li a {
    text-decoration: none;
    padding: 29px 15px;

}

.main-menu li:hover {
    /* border-bottom: 2px solid #0061ff; */
    box-shadow: #0061ff 0px 0px 2px;

}

.jumbo {
    background-color: #b4d0e7;
    height: 900px;
    padding-top: 100px
}

#jumboimg {
    width: 1000px;
}

.mainjumbo {
    margin-top: 50px;
}

.col.w-30 {
    padding-right: 60px;
    line-height: 1.5em;
}

#undo {
    margin-top: 30px;
}

.fa-arrow-down {
    font-size: 50px;
}


/* main */

.plans {
    margin-top: 200px;
}

.plan {
    margin-top: 50px;
    height: 1150px;
}

.plans h2 {
    font-size: 46px;
    font-weight: 800;
    margin: 60px 0;
}

.mainbody {
    height: 200px;
}

.radio {
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.radiocheck{
    border: 5px solid #0061ff;
    padding: 6px;
}

.radiouncheck {
    border: 1px solid #d0d0d3;
}

.plan {
    border: 1px solid #d0d0d3;
}

.headplan {
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}

.bodyplan {
    padding: 30px;
    line-height: 1.6em;
}

.bodyplan hr.short {
    width: 18%;
}

.midcol {
    margin-left: 50px;
    margin-right: 50px;
}

#enterprise {
    border: 1px solid #d0d0d3;
    margin: 60px 0;
}

#enterprise .col {
    padding: 20px 0 0 20px;
}

#enterprise .w-30 {
    padding-top: 30px;
}

.w-40 div {
    margin-top: 50px;
    margin-left: 50px;
}

.business {
    margin-bottom: 100px;
}

.business h2 {
    padding-top: 50px;
    
}

.business p {
    font-size: 18px;
}

.partners-title h2 {
    font-size: 46px;
    font-weight: 800;
    margin-top: 230px;
    margin-bottom: 30px;
}

.partners-title {
    margin-bottom: 70px;
}


/******* plan list *******/

li.list-icon {
    list-style-type: none ;
    margin-bottom: 20px;
    text-indent: -1.5em;
    padding-left: 30px;
}

.list-icon::before {
	font-family: "font awesome 5 free";
	font-weight: 900;
	margin-right: 5px;
}

.list-icon.folder::before {
	content: '\f07b';
}

.list-icon.user::before {
	content: '\f007';
}

.list-icon.pencil::before {
	content: '\f303';
}

.list-icon.checked::before {
	content: '\f00c';
    color: #0061ff;
}



/* partners */

.buddy img {
    filter: invert(1);
}

.buddy {
    height: 250px;
}


#design {
    background-color: #a2d39b;
    position: relative;
}


#design img {
    width: 60%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#uf {
    background-color: #0093ce;
}

#uf img {
    width: 60%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#asu {
    background-color: #61082b;
}

#asu img {
    width: 60%;
    position: relative;
    top: 30%;
    left: 55%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}


#topps {
    background-color: #ff1c1c;
}

#topps img {
    width: 60%;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
    
#designit {
    background-color: #f5f5f5;
    height: 500px;
    padding: 50px;
}

#designit img {
    width: 30%;
}

#wbr{
    background-color: #d5001f;
}

#wbr img {
    width: 60%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#lp {
    background-color: #0d2481;
}

#lp img {
    width: 60%;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#hearts {
    background-color: #b4d0e7;
}

#hearts img {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}


#cco {
    background-color: #ffd830;
}

#cco img {
    width: 60%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.buddy:hover {
    border: 10px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

#designit:hover {
    border: 10px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

/* banner business */

.bannerbusiness {
    background-color: #b4d0e7;
    color: #61082b;
    padding: 200px 0;
}


/* FAQ */

.faq {
    margin: 40px 0;
    margin-right: 30px;
    position: relative;
    font-weight: 800;
}

.faq::after {
    font-family: "font awesome 5 free";
    position: absolute;
    right: 0;
    content: "\f078" ;
}

.faqs {
    margin-bottom: 130px;
}
.faqs h3{
    margin-top: 100px;
    margin-bottom: 70px;
}


/* footer */

footer {
    background-color: #000;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 50px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer li {
    list-style-type: none;
    line-height: 2em;
}

footer a:hover {
    text-decoration: underline;
}

.language {
    color: #999999;
}